.food-item {
  width: 285px; /* Maintain the width */
  height: 320px; /* Adjust the height to fit the image, text, and icons */
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px rgb(109, 215, 52);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: auto;
}

.food-item-image {
  width: 290px;
  height: 200px; /* Adjusted height to fit the image within the card */
  border-radius: 10px 10px 10px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.food-item:hover .food-item-image {
  transform: scale(1.05) translateY(-5px);
}

.food-item-info {
  padding: 10px;
  height: 35%; /* Adjust height for the text content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:  rgb(4, 68, 16);;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.food-item-name-rating p {
  font-size: 16px;
  font-weight: 500;
  color:  rgb(4, 68, 16);;
}

.food-item-name-rating img {
  width: 75px; /* Adjusted size of the star rating icon */
  height: 20px;
}

.food-item-description {
  color:  rgb(4, 68, 16);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.food-item-price {
  color: rgb(68, 112, 2);
  font-size: 18px;
  font-weight: 600;
}

.food-item-img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px; /* Adjusted height for the cart icon container */
}
.food-item-img-container .add {
  width: 30px; /* Size of the "Add to Cart" icon */
  height: 20px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.food-item-img-container .add:hover {
  background-color: rgb(75, 160, 44); /* Highlight the icon on hover */
}

.food-item-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 20px; /* Adjust the size of the icons inside the counter */
  height: 20px;
}
